@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

$fuente: Indie Flower;
$color: #ffd54f;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente;
}

body{
    background-image: url(../assets/cloud-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    background-blend-mode: overlay;
}